<% include header %>
<% include menubar %>
<div class="container">
    <h2>My rides</h2>
    <p>Here you can see your previous rides:</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>PickUp</th>
                <th>Destination</th>
                <th>Price</th>
                <th>Distance</th>
                <th>Duration</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <% rides.forEach(function(item){ %>
            <tr>
                <td><%= item.pickup %></td>
                <td><%= item.destination %></td>
                <td><%= item.price %> Ft</td>
                <td><%= item.distance %> km</td>
                <td><%= item.duration %> min</td>
                <td><%= item.date.toDateString() %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<% include footer %>