<% include header %>
<% include menubar %>
<div class="container">
    <h2>My Vehicles</h2>
    <p>Here you can see the list of your vehicles:</p>
    <a class="btn btn-primary" href="/vehicles/new" role="button">+ Add New Vehicle</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Licence plate</th>
                <th>Brand</th>
                <th>Type</th>
                <th>Colour</th>
                <th>Year of manufacture</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% vehicles.forEach(function(item){ %>
                <tr>
                    <td><a href="/vehicles/<%= item.id %>/edit"><%= item.licencePlate %></a></td>
                    <td><%= item.brand %></td>
                    <td><%= item.type %></td>
                    <td><%= item.colour %></td>
                    <td><%= item.yearOfManufacture %></td>
                    <td><a href="/vehicles/<%= item.id %>/delete">X</a></td>
                </tr>
            <% }); %>
        </tbody>

    </table>
</div>
<% include footer %>